.header,
.footer {
	background: #2f275a;
	color: white;
}

.header,
.middle,
.footer {
	padding: 40px 320px;
}

.header h1,
.footer h2 {
	color: #ff8900;
}

.header a {
	color: #ff8900;
}

.brands img {
	height: 28px;
	margin-right: 5px;
}

.photos div {
	display: inline-block;
}

.yellow {
	background: #e8e8ce;
	padding: 20px 40px;
}

.yellow a {
	text-decoration: none;
	color: black;
	border-bottom: 1px dotted red;
}

.yellow p {
	text-indent: 40px;
}